@model MachineMonitoring.Models.ViewModel.AdminVM
@{
	ViewData["Title"] = "Add Machine Location";
}

<style>
	#map {
		width: 100%;
		/* height: 95vh; */
		height: 70vh;
		border: 1px solid #ccc;
		display: block;
	}

	.ol-popup {
		position: absolute;
		background-color: white;
		box-shadow: 0 1px 4px rgba(0,0,0,0.2);
		padding: 15px;
		border-radius: 10px;
		border: 1px solid #cccccc;
		bottom: 12px;
		left: -50px;
		min-width: 450px;
	}

		.ol-popup:after, .ol-popup:before {
			top: 100%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
		}

		.ol-popup:after {
			border-top-color: white;
			border-width: 10px;
			left: 48px;
			margin-left: -10px;
		}

		.ol-popup:before {
			border-top-color: #cccccc;
			border-width: 11px;
			left: 48px;
			margin-left: -11px;
		}

	.ol-popup-closer {
		text-decoration: none;
		position: absolute;
		top: 2px;
		right: 8px;
		cursor: pointer;
	}

		.ol-popup-closer i {
			font-size: 18px; 
			color: dimgray;
		}
</style>

<section class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<div class="card mt-3">
					<div class="card-header">
						<h3 class="card-title">
							<i class="fas fa-map-pin"></i>
							Machine Location
						</h3>
					</div>
					
					<div class="card-body" style="margin-top:-0.5%">
						<div class="row">
							<div class="col-sm-6">
								<div class="form-inline">
									<label class=" mr-2"><i class="fa fa-flag mr-1"></i>Plant No</label>
									<select id="PlantNoSelect" name="PlantNoSelect" class="form-control w-100">
										<option disabled selected>--Select Plant No--</option>
										@foreach (var plant in Model.Plants)
										{
											<option value="@plant.PlantNo">@plant.PlantName</option>
										}
									</select>
								</div>
							</div>

							<div class="col-sm-6">
								<div class="form-inline">
									<label class="mr-2">Production Map</label>
									<select name="ProductionMapIdSelect" id="ProductionMapIdSelect" class="form-control w-100">
										<!-- Options are populated in jQuery -->
									</select>
									
								</div>
							</div>
							@* <div class="col-sm-2">
								<div class="form-inline">
									<label class="invisible">Search</label>
									<button type="button" class=" btn btn-primary w-100"> Search <i class="fas fa-search fa-rotate-90"></i></button>
								</div>
							</div> *@
						</div>

						<div class="mt-4">
							<div id="map"></div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

</section>



<!-- Add/Edit Production Map Modal -->
<div class="modal fade" id="ProdMapModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="prodMapModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl" role="document">
		<div class="modal-content">
			<form method="POST" enctype="multipart/form-data">
				<div class="modal-header">
					<h5 class="modal-title" id="prodMapModalTitle">Add Production Map</h5>
					<button type="button" class="close" onclick="Close()" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" style="max-height: 80vh; overflow-y: auto;">
					<input type="hidden" id="Operation" name="Operation" />
					@* <input type="hidden" id="ProductionMapId" name="ProductionMapId" /> *@

					<div class="form-group" id="ProdMapIdContainer">
						<label for="ProductionMapId"> <i class="fas fa-hashtag"></i> Production Map ID</label>
						<input type="text" class="form-control" id="ProductionMapId" name="ProductionMapId" readonly>
					</div>

					<div class="form-group">
						<label for="ProductionMapName"><i class="fas fa-tag"></i> Production Map Name</label>
						<input type="text" class="form-control" name="ProductionMapName" id="ProductionMapName" placeholder="Enter production map name">
					</div>

					<div class="form-group">
						<label for="PlantNo"><i class="fa fa-flag"></i> Plant No</label>
						<select name="PlantNo" id="PlantNo" class="py-2 form-control" required>
							<!-- Options are populated by jQuery -->
						</select>
					</div>

					<h6 style="font-weight:700"><i class="fas fa-paperclip"></i> Upload File <i id="fileNote" style="font-size:10px;"></i></h6>
					<div class="form-group custom-file">
						<input type="file" class="custom-file-input" name="ImgFile" id="ImgFile" accept=".jpg, .png">
						<label class="custom-file-label" for="ImgFile">Upload File</label>
					</div>

					<div class="form-group mt-3" id="ImgContainer">
						<label for="Img"><i class="fas fa-map"></i> Current Uploaded Map</label>
						<img class="form-control" alt="No Image Found" style="max-width: auto; height: auto;" />
						<input type="hidden" id="ImgName" name="ImgName" />
					</div>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" onclick="Close()"> Close</button>
					<button type="button" id="saveButton" class="btn btn-primary" onclick="SetupSaveButton()">Save</button>
				</div>
			</form>
		</div>
	</div>
</div>


@section Scripts {
	<script src="~/js/plotcoordinates.js"></script>
}
