@model MachineMonitoring.Models.ViewModel.AdminVM

<!DOCTYPE html>
@{
	Layout = null;
}

<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Machine Monitoring</title>


	<link href="~/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" />
	<link href="~/dist/css/adminlte.min.css" rel="stylesheet" />

	<link href="~/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
	<link href="~/plugins/openlayers/ol.css" rel="stylesheet" />


	<style>
		#map {
			height: 80vh;
			width: 100%;
			border: 1px solid #ccc;
			display: block;
		}

			#map:fullscreen,
			:-webkit-full-screen #map,
			:-moz-full-screen #map,
			:-ms-fullscreen #map {
				height: 100% !important;
				width: 100% !important;
			}

		.ol-control {
			z-index: 9999;
		}

		.ol-popup {
			position: absolute;
			background-color: white;
			box-shadow: 0 1px 4px rgba(0,0,0,0.2);
			padding: 15px;
			border-radius: 10px;
			border: 1px solid #cccccc;
			bottom: 12px;
			left: -50px;
			min-width: 300px;
		}

			.ol-popup:after, .ol-popup:before {
				top: 100%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
			}

			.ol-popup:after {
				border-top-color: white;
				border-width: 10px;
				left: 48px;
				margin-left: -10px;
			}

			.ol-popup:before {
				border-top-color: #cccccc;
				border-width: 11px;
				left: 48px;
				margin-left: -11px;
			}

		.ol-popup-closer {
			text-decoration: none;
			position: absolute;
			top: 2px;
			right: 8px;
			cursor: pointer;
		}

			.ol-popup-closer i {
				font-size: 25px;
				color: dimgray;
			}
	</style>

</head>
<body class="hold-transition">

	@await Html.PartialAsync("_PartialNavBarLogout")

	<section class="content" style="background-color: #e9ecef;">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<div class="card mt-3">
						<div class="card-body" style="margin-top:-0.5%">
							<div class="row">
								<div class="col-sm-6">
									<div class="form-inline">
										<label class=" mr-2"><i class="fa fa-flag mr-1"></i>Plant No</label>
										<select id="PlantNoSelect" name="PlantNoSelect" class="form-control w-100">
											<option disabled selected>--Select Plant No--</option>
											@foreach (var plant in Model.Plants)
											{
												<option id="PlantSelected" value="@plant.PlantNo">@plant.PlantName</option>
											}
										</select>
									</div>
								</div>

								<div class="col-sm-6">
									<div class="form-inline">
										<label class="mr-2">Production Map</label>
										<select name="ProductionMapIdSelect" id="ProductionMapIdSelect" class="form-control w-100">
											<!-- Options are populated in jQuery -->
										</select>

									</div>
								</div>
							</div>

							<div class="mt-2">
								<div id="map"></div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>

	</section>



	<!-- jQuery -->
	<script src="~/plugins/jquery/jquery.min.js"></script>
	<script src="~/plugins/jquery-ui/jquery-ui.min.js"></script>
	<script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="~/dist/js/adminlte.js"></script>
	<script src="~/plugins/openlayers/ol.js"></script>	<!--OpenLayer JS-->
	<script src="~/plugins/sweetalert2/sweetalert2.min.js"></script>
	<script src="~/plugins/signalr/signalr.js"></script>
	<script src="~/js/productionmap.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>


</body>
</html>
