@model MachineMonitoring.Models.ViewModel.AdminVM
@{
	ViewData["Title"] = "User Profile";
}

<style>
		.rule {
			font-size: 12px;
			color: dimgray;
			margin-bottom: 0rem;
		}

		input::placeholder {
			font-weight: bold;
		}
	</style>

<section class="content">
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-8">
				<div class="card mt-3">
					<div class="card-header">
						<h3 class="card-title">
							<i class="fas fa-user mr-1"></i>
							Profile
						</h3>
					</div>

					<form method="post" asp-controller="Admin" asp-action="SaveUsersDetails">
						<div class="card-body" style="margin-top:-0.5%">
							<div class="row">

								<div class="col-sm-6 mb-2">
									<div class="form-group">
										<label for="EmployeeNo"> <i class="fas fa-id-card mr-1"></i> Employee No</label>
										<input type="text" class="form-control" 
											id="EmployeeNo" name="EmployeeNo" 
											value="@Context.Session.GetString("_EmployeeNumber")" readonly>
									</div>
								</div>

								<div class="col-sm-6 mb-2">
									<div class="form-group">
										<label for="AuthorityLevel"> <i class="fas fa-briefcase mr-1"></i> Role</label>
										<input type="text" class="form-control" 
											id="AuthorityLevel" name="AuthorityLevel" 
											value="@Context.Session.GetString("_Usertype")" readonly>
									</div>
								</div>

								<div class="col-sm-12 mb-2">
									<div class="form-group">
										<label for="EmployeeName"> <i class="fas fa-id-card mr-1"></i> Employee Name</label>
										<input type="text" class="form-control" 
											id="EmployeeName" name="EmployeeName"
											   value='@Context.Session.GetString("_EmployeeName")' readonly>
									</div>
								</div>


							</div>
						</div>
					</form>
					
				</div>
			</div>
		</div>
	</div>
</section>



