@inject IConfiguration Configuration

<div>
	<strong>Copyright &copy; FSCT 2025 .</strong>
	MIS_System
	<div class="float-right d-none d-sm-inline-block">
		<b>Version</b> @Configuration["AppVersion"]
	</div>
</div>
