#map {
    height: 80vh;
    width: 100%;
    border: 1px solid #ccc;
    display: block;
    cursor: grab;
}

    #map:fullscreen,
    :-webkit-full-screen #map,
    :-moz-full-screen #map,
    :-ms-fullscreen #map {
        height: 100% !important;
        width: 100% !important;
    }


.form-group {
    margin-bottom: 0.5rem;
}

label {
    margin-bottom: -0.5rem;
}

p {
    margin-bottom: -1%;
    font-size: 15px;
}

h3 {
    font-size: 20px;
    font-style: italic;
}

h4 {
    padding-left: -10px;
    font-size: 20px;
    margin-top: 1%;
}

h5 {
    font-weight: 700;
}

#machine-cards {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 0;
    gap: 0.5%; /* optional spacing between cards */
    -webkit-overflow-scrolling: touch; /* smooth scrolling on iOS */
}

    #machine-cards .card {
        flex: 0 0 auto; /* Fixed width */
        min-width: 200px;
        max-height: 70px;
        border: 1px solid black;
        padding: 0;
        box-sizing: border-box;
        margin: 0 0 10px 0;
    }

    #machine-cards .card-body {
        padding: 0px 0px 0px 7.5px;
        box-shadow: 0px 5px 4px rgba(0,0,0,0.2);
    }

    #machine-cards .cardcontent{
        padding-top: 5px;
        padding-bottom: 5px;
    }

.containerpopup {
    width: 400px;
    max-height: 220px;
    background-color: white;
    overflow-x: auto;
    scrollbar-width: none;
    display: block;
    cursor: default;
}

    .containerpopup::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera */
    }

.ol-popup {
    position: absolute;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    padding: 5px;
    border-radius: 10px;
    border: 2px solid #393E46;
    bottom: 12px;
    left: -50px;
}

    /*.ol-popup:after, .ol-popup:before {
        top: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .ol-popup:after {
        border-top-color: #FFFFFF;
        border-width: 10px;
        left: 48px;
        margin-left: -10px;
    }

    .ol-popup:before {
        border-top-color: #393E46;
        border-width: 13px;
        left: 48px;
        margin-left: -13px;
    }*/
    .ol-popup::after,
    .ol-popup::before {
        position: absolute;
        display: block;
        content: "";
        border-style: solid;
        left: 50%;
        transform: translateX(-50%);
        left: 48px;
    }

    .ol-popup.arrow-bottom::after {
        bottom: -10px;
        border-width: 10px 10px 0;
        border-color: white transparent transparent transparent;
    }

    .ol-popup.arrow-bottom::before {
        bottom: -12px;
        border-width: 12px 12px 0;
        border-color: rgba(0,0,0,2) transparent transparent transparent;
    }

    .ol-popup.arrow-top::after {
        top: -10px;
        border-width: 0 10px 10px;
        border-color: transparent transparent white transparent;
    }

    .ol-popup.arrow-top::before {
        top: -12px;
        border-width: 0 12px 12px;
        border-color: transparent transparent rgba(0,0,0,2) transparent;
    }


.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 5px;
    right: 8px;
    cursor: pointer;
}

    .ol-popup-closer i {
        font-size: 25px;
        color: dimgray;
    }

#legend-container {
    display: flex;
    flex-wrap: wrap; /* Optional: allow wrapping on small screens */
    gap: 1rem; /* Space between items */
    align-items: center;
}

.legend-item {
    display: flex;
    align-items: center;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 6px;
    border: 1px solid #333;
}

.labelcolor {
    font-size: 14px;
}

.p-popup {
    font-size: 13px;
}

.card-header {
    margin-top: -2%;
    max-height: 40px;
}

hr {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.pop-up-body {
    margin: 0;
    padding: 5px 15px 15px 15px;
}

.card-header {
    padding: 4%;
}
